RewriteEngine on

## Change this if frameless is in a sub directory
RewriteBase /
#RewriteBase /subdir/

## If frameless is in a sub director you also have to edit the
## rewrite rules and rewrite conditions like in this example:
#RewriteCond     %{REQUEST_URI}              !^/subdir/bootstrap.php                        [NC]
#RewriteRule     ^$                          /subdir/bootstrap.php                          [L,QSA]

# Stop rewriting when the file or director exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

# Rewrite /non/existing/files to the bootstrap
RewriteCond     %{REQUEST_URI}              !^/bootstrap.php                                [NC]
RewriteRule     ^(.*)$                      /bootstrap.php?bootargs=$1                      [L,QSA]
