/*** General stuffs ***/
body { background-color: #ddd; }
.p-area { margin: 15px; }
.box { margin-bottom: 20px; background-color: #ccc; padding: 20px; border: 1px solid #000; margin: 15px; }
.footer { font-size: small; text-align: center; }
a { color: #000; }

/*** info pages ***/
.box .question { font-weight: bold; margin: 5px; }
.box .answer { margin: 5px 5px 20px 20px; text-align: justify; }
.box .terms { list-style-type: circle;}

/*** paste header ***/
.p-header { margin-bottom: 20px; background-color: #ccc; padding: 10px; border: 1px solid #000; }
.p-header span { display: inline-block; width: 80px; }
form .p-header label { display: inline-block; width: 100px; }
form .p-header input, form .p-header select { width: 200px; }

/*** paste files ***/
form .p-file label { display: inline-block; width: 100px; }
form .p-file input, form .p-file select { width: 200px; }
form .p-file .contentwrap { padding: 5px 7px 0px 0px; }
form .p-file textarea { width: 100%; height: 100%; }
.p-file { padding: 10px; }
.p-file .label { padding-bottom: 20px;}
.p-file .label span { display: inline-block; width: 100px; }
.p-file .contents * { font-family: monospace; margin: 0px; padding: 0px; }

/*** Source format ***/
.sourceformat * { margin: 0px; padding: 0px; }
.sourceformat { background-color: #eee; border: 1px solid #a7a7a7; }
.sourceformat .nums { float: left; text-align: right; }
.sourceformat .code { overflow: auto; white-space: nowrap; }
.sourceformat .nums > div { display: block; width: 36px; padding-right: 10px; }
.sourceformat .code > div { display: block; min-width: 100%; }
.sourceformat .even { background-color: #e7e7e7; }

/*** menu ***/
.menu { margin: 0px; padding: 0px; margin: 15px; }
.menu ul { display: inline-block; padding: 0px; margin: 0px; } 
.menu li {  display: inline-block; background-color: #999; border: 1px solid #000; }
.menu li a { display: inline-block; padding: 10px; }

/*** tabs ***/
#tabs ul,#tabs li { padding: 0px; margin: 0px; }
.tab-hidden { display: none; }
#tabs ul { display: none; }
#tabs li { display: inline-block; }
.tab-inactive { background-color: #999; border: 1px solid #000; border-bottom-style: none; }
#tabs > div { background-color: #ccc; border: 1px solid #000; }
.tab-active { background-color: #ccc; border: 1px solid #000; border-bottom-style: none; position: relative; top: 1px; }
#tabs li a { display: inline-block; padding: 10px; cursor: pointer; }
#tabs li a.closetab { padding: 10px 1px 10px 1px; }
.tab-inactive a:hover { background-color: #aaa; }
.tab-active a:hover { background-color: #ddd; }

