body
{
    background-color: #DDD;
}
.p-area label
{
    display: table;
}

.p-area
{
    padding: 30px;
}

.p-header
{
    margin-bottom: 30px;
}

.p-header label
{
    width: 300px;
}

.p-header input
{
    float: right;
}

.p-header select
{
    float: right;
}

.p-file
{
    padding: 5px;
    border: 1px solid #000;
}

.p-file label
{
    width: 270px;
}

.p-file select,.p-file input
{
    float: right;
}

.header
{
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
}

.file
{
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
}

.contents
{
    font-family: monospace;
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
    border: #bbb solid 1px;
}

textarea
{
    width: 100%;
    height: 250px;
}

/*** tabs ***/
#tabs ul,#tabs li { padding: 0px; margin: 0px; }
.tab-hidden { display: none; }
#tabs ul { display: none; }
#tabs li { display: inline-block; }
.tab-inactive { background-color: #999; border: 1px solid #000; border-bottom-style: none; }
#tabs > div { background-color: #ccc; }
.tab-active { background-color: #ccc; border: 1px solid #000; border-bottom-style: none; position: relative; top: 1px; }
#tabs li a { display: inline-block; padding: 10px; }
